<!-- step 1 think about what UI components should we have. Here we want 2 components,
  one for users to type in a city to search, aka the imput component; the other shows
  that city's current weather result, aka the output component.
  We write some basic HTML as a place holder, and later will replace tags with component selectors
  -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Weather</title>
</head>
<body>
<app-weather-search></app-weather-search>
<br>
<app-current-weather></app-current-weather>
</body>
</html>
